*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

build/
.idea/

.gradle/

*.apk
*.ipa

.dart_tool/

.packages

ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
pubspec.lock
.vscode/